# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
.vscode/

# Project specific
src/.deps
build/
Makefile
src/sample_coach
src/sample_player
src/sample_trainer
src/robocin_coach
src/robocin_player
src/robocin_trainer